<div>
    <a routerLink="/willkommen" routerLinkActive="active">
        <img src="../../assets/img/dh-logo.png" id="header-logo">
    </a>
</div>

<div class="background-image">
    <div class="wrapper-buttons">
        <div class="main-box-button">
            <div class="formular-buttons">
                <h3> Guten Tag Herr Bimazubute, </h3>
                <h4 class="vorlesung"> Ihre nächste Vorlesung:</h4>
                <h4> <img src="../../../assets/img/next-icon-dhbw.jpg">Fach: <span class="text">Fallstudie</span></h4>
                <h4><img src="../../../assets/img/next-icon-dhbw.jpg">Raum: <span class="text">3.11</span></h4>
                <h4><img src="../../../assets/img/next-icon-dhbw.jpg">Kurs: <span class="text">WWI2018H</span></h4>
            </div>
        </div>
    </div>
</div>