.formWrapper {
    padding-left: 40px;
}
.formdataDozenten mat-form-field{
    margin-right: 40px;
}
/*Buttons "Kurs anlegen" und "Weiter"*/
.buttons {
    margin-top: 30px;
}
.buttons button {
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    padding: 0;
}
button h3{
    color: #666;
}
button a{
    text-decoration: none;
}
button:hover {
    text-decoration: underline;
    color: #666;
}
.buttons img {
    max-width: 7px;
    padding-right: 6px;
}
#icon-back {
    transform: rotate(180deg);
    padding-right: 0px;
    padding-left: 6px;
}
/*----------------------*/
#form-titel {
    width: 80px;
}
#form-vorname {
    width: 110px;
}
#form-nachname {
    width: 110px;
}
#form-mail {
    width: 230px;
}
#addDozent {
    color: #ccc;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
#removeDozent {
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    padding: 0;
    color: #ccc;
    font-weight: normal;
    font-size: 20px;
    cursor: pointer;
}
#removeDozent:hover {
    text-decoration: none;
}


