<adminheader></adminheader>
<div class="title">
    <h1>Dozenten anlegen</h1>
</div>

<div class="formWrapper">
    <h3>Dozenten</h3>

    <!--Add dynamic rows-->
    <form [formGroup]='formDozenten' (ngSubmit)="onSubmit(formDozenten.value)" #submitDozenten="ngForm">
        <div formArrayName="dozentenDaten"
            *ngFor="let item of formDozenten['controls'].dozentenDaten['controls']; let i= index">
            <!---->
            <ng-contaner [formGroupName]="i">
                <div class="formdataDozenten">
                    <mat-form-field appearance="legacy" id="form-titel">
                        <mat-label>Titel</mat-label>
                        <input matInput formControlName="Titel" placeholder="Titel">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" id="form-vorname">
                        <mat-label>Vorname</mat-label>
                        <input matInput formControlName="Vorname" placeholder="Vorname">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" id="form-nachname">
                        <mat-label>Nachname</mat-label>
                        <input matInput formControlName="Nachname" placeholder="Nachname">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" id="form-mail">
                        <mat-label>E-Mail Adresse</mat-label>
                        <input matInput formControlName="Mail" placeholder="E-Mail Adresse">
                    </mat-form-field>
                    <button id="removeDozent" (click)='removeInput(this.i)'>x</button>
                </div>
            </ng-contaner>
            <!---->
        </div>
        <!--End of div *ngFor looping through formVorlesungen-->
    </form>
    <div (click)='addInput()'><p id="addDozent">+</p></div>
    <div class="buttons">
        <img src="../../../assets/img/next-icon-dhbw.jpg"><button (click)="submitDozenten.ngSubmit.emit()">
            <h3>Dozenten anlegen</h3>
        </button>
    </div>
</div>
<!--Ende formWrapper-->