.overheader {
    max-height: 10px; 
    min-height: 10px; 
}

.kurs {
    padding-right: .7rem;
    color: grey;
    margin-left: -30px;
   
}

input::placeholder {
    color: grey ;
    text-align: center;

}

.wählen {
    width: 20%;
    margin-right: 50px; 
    color: grey; 
}
.admin {
    color: grey;
    margin-left: 20px;
}

#rechts {
    margin-left: 55em;
    text-align: center;
    padding-top: 20px;
 }

.profil img {
     height: 45px;
     width: 45px;
     margin-left: 24em;
     margin-top: -4.2em;
     margin-bottom: 2em;
 }
.logout{
    position: absolute;
    right: 20px;
    top: 30px;
    color: #ccc;
    cursor: pointer;
}
.logout img{
    max-width: 20px;
    padding-left: 10px;
    opacity: 40%;
}

 


