
.header-content {
    height: 15vh;
    background-color: #505050;
    min-height: 32px;
    padding-left: 42px;
    max-height: 32px;  
    margin-top: 5em;
}

.overheader {
    max-height: 10px; 
    min-height: 10px; 
}

.head {
    color:white;
    padding-right: .6rem;
    padding-left: .2rem; 
    padding-top: 7px;
    float: left;
    margin-right: 100px;


}
.head a {
    text-decoration: none;
    display: inline-block;
    color: white;
}
.head a:focus { 
    background-color: rosybrown;
 }

#logo {
    padding-left: 45px;
    height: 50px;
    display: block;
    max-width: 100%;
    padding-top: 12px;
    float: left;
    clear:left;
}

.kurs {
    padding-right: .7rem;
    color: grey;
    margin-left: -30px;
   
}

input::placeholder {
    color: grey ;
    text-align: center;

}

.wählen {
    width: 20%;
    margin-right: 50px; 
  
}
.admin {
    color: grey;
    margin-left: 20px;
}

#rechts {
    margin-left: 50em;
    text-align: center;
    padding-top: 40px;
 }

 .profil img {
     height: 45px;
     width: 45px;
     margin-left: 24em;
     margin-top: -2.2em;
     margin-bottom: 2em;
    
 }
 


