<adminheader></adminheader>
<div class="title">
    <h1>Herzlich Willkommen beim Vorlesungsplaner</h1>
</div>

<div class="background-image"> 
    <div class="wrapper-buttons">
        <div class="main-box-button">
            <a routerLink="/dashboard" routerLinkActive="active"> 
                <h3>Dashboard</h3> 
            </a>
        </div>
        <div class="main-box-button">
            <a routerLink="/adminkalender" routerLinkActive="active">
                <h3>Kalenderansicht</h3>
            </a>
        </div>
        <div class="main-box-button">
                <h3>Vorlesungsplanansicht</h3>
        </div>
    </div>
</div>