.boxlinks {
    width: 340px;
    height: 170px;
    text-align: center;
    padding: 70px;
    background: white;
    opacity: 0.8;
    box-sizing: border-box;
    font-weight: bold;
    clear: left;
    float: left;
    margin-left: 55px;
    margin-top: 135px;
    color: black;
}
.boxlinks a {
    text-decoration: none;
    display: inline-block;
    color: black;
}
.boxlinks:hover {
    background-color: indianred;
  }
  
.boxmittel {
    width: 340px;
    height: 170px;
    text-align: center;
    padding: 70px;
    background: white;
    opacity: 0.8;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
    margin-top: 135px;
    margin-left: 60px;
    margin-right: 55px;
   
}
.boxmittel a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.boxmittel:hover {
    background-color: indianred;
  }
  
.boxrechts {
    width: 340px;
    height: 170px;
    text-align: center;
    padding: 70px;
    background: white;
    opacity: 0.8;
    box-sizing: border-box;
    font-weight: bold;
    margin-right: 55px;
    float: right; 
    margin-top: 135px; 
}

.header {
    height: 15vh;
    display: table;
    width: 100%;
}

h1 {
    vertical-align: middle;
    display: table-cell;
    padding-left: 40px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.background-image {
    background-image: url('src/assets/img/dhbw_forschung.jpg');
    background-size: cover;
    height: 70vh;

}
