/* Global styles*/
* {
    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
}
/*Titel auf jeder Unterseite*/
.title h1 {
    height: 15vh;
    vertical-align: middle;
    display: table-cell;
    padding-left: 40px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #2c2c2c;
    font-size: 1.6em;
}
h3 {
    color: #df0019;
}
/*Styles für Buttons auf Hintergrundbild*/
.wrapper-buttons{
    margin: auto;
}
.main-box-button {
    width: 300px;
    height: 170px;
    background: white;
    opacity: 0.85;
    box-sizing: border-box;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-box-button a{
    text-decoration: none;
    color: black;
}
.main-box-button:hover {
    background-color: indianred;
}
.main-box-button h3{
    font-weight: bold;
    color: black;
    text-decoration: none;
    /* display: table-cell; */
    margin: auto;
}
.main-box-button h3:hover{
    text-decoration: underline;
}
/*Sub-Links innerhalb der Buttons auf dem Hintergrundbild*/
.main-box-button h4{
    font-size: 13px;
    height: 19px;
    color: black;
    text-decoration: none;
    margin: 0px;
    /* display: table-cell; */
    /* margin: auto; */
}
.main-box-button h4:hover{
    text-decoration: underline;
}
.red-next {
    font-weight: bolder;
    font-size: 17px;
    padding-right: 6px;
    color: #df0019;
}


/*Background der Seiten*/
.background-image {
    background-image: url('src/assets/img/dhbw_forschung.jpg');
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
}
/*Logo Header auf jeder Unterseite*/
#header-logo {
    padding-left: 45px;
    height: 43px;
    display: block;
    max-width: 100%;
    /* float: left;
    clear:left; */
}
/*Menü-Leiste dunkelgrau als Navigation*/
.menu-content {
    background-color: #505050;
    height: 32px;
    padding-left: 42px;
}

.navi {
    color:white;
    padding-right: .6rem;
    padding-left: .2rem; 
    padding-top: 7px;
    float: left;
    margin-right: 100px;

}
.navi a {
    text-decoration: none;
    display: inline-block;
    color: white;
}
/*"Username or password is incorrect*/
/* .alert alert-danger mt-3 mb-0 {
    background-color: #333;
    height: 34px;
    width: 432px;
    padding: 10px 10px 0px 10px;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
    margin-top: 11px;
    margin-left: -51px;
    color: white;
} */
/*Buttons "xy anlegen" mit dhbw-next-icon*/
.formular-buttons {
    margin-top: 30px;
}
.formular-buttons button {
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    padding: 0;
}
.formular-buttons h3{
    color: #666;
}
.formular-buttons a{
    text-decoration: none;
}
.formular-buttons:hover {
    text-decoration: underline;
    color: #666;
}
.formular-buttons img{
    max-width: 7px;
    padding-right: 6px;
}
/*Error bei fehlender Kursauswahl*/
mat-card.error {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    width: 300px; 
    margin-left: 40px;
}
/*----------------------*/