<dozentenheader></dozentenheader>
<div class="title">
    <h1>Vorlesungsübersicht</h1>
</div>

<div class="vorlesungsliste">
    <div *ngFor="let vorlesung of vlService.vorlesungen">
        <tr>
            <td class="tdDate">{{vorlesung.date|date: 'EE, dd.MM.y'}}</td>
            <td class="tdTimeframe">{{vorlesung.startDate|date: 'HH:mm'}} - {{vorlesung.endDate|date: 'HH:mm'}}</td>
            <td class="tdNameVorlesung">{{vorlesung.name}}</td>
        </tr>
        <p> </p>
    </div>
</div>
    <!-- <div *ngFor="let day of calenderData.weeks.week">{{day.date|date:'d.m'}}</div> -->