<dozentenheader></dozentenheader>
<div class="title">
    <h1>Vorlesungsübersicht</h1>
</div>
<mat-card class="error" *ngIf="!currentKurs">
    <mat-card-content>
        <p>
            Es wurde noch kein Kurs ausgewählt.<br />
            Bitte wählen Sie oben einen Kurs!
        </p>
    </mat-card-content>
</mat-card>
<div class="vorlesungsliste" *ngIf="currentKurs != null">
    <div *ngFor="let vorlesung of currentKursObject.vorlesungen">
        <div *ngFor="let termin of vorlesung.termine">
        <tr>
            <td class="tdDate">{{termin.startDate|date: 'EEEE, dd.MM.y'}}</td>
            <td class="tdTimeframe">{{termin.startDate|date: 'HH:mm'}} - {{termin.endDate|date: 'HH:mm'}}</td>
            <td class="tdNameVorlesung">{{vorlesung.name}}</td>
        </tr>
        <p> </p>
    </div>
</div>
    <!-- <div *ngFor="let day of calenderData.weeks.week">{{day.date|date:'d.m'}}</div> -->