<adminheader></adminheader>
<div class="title">
    <h1>Neues Semester anlegen</h1>
</div>
<mat-card class="error" *ngIf="!currentKurs">
    <mat-card-content>
        <p>
            Es wurde noch kein Kurs ausgewählt.<br />
            Bitte wählen Sie oben einen Kurs!
        </p>
    </mat-card-content>
</mat-card>

<div class="formWrapper" *ngIf="currentKurs != null">
    <form [formGroup]="formSemester" (ngSubmit)="onSubmit()" #submitSemester="ngForm">
        <div formArrayName="semesterData" *ngFor="let semester of semesterData.controls; let i= index">
            <ng-contaner [formGroupName]="i">
                <div class="formdataSemester">
                    <mat-form-field>
                        <mat-label>Nummer</mat-label>
                        <mat-select formControlName="semesterID">
                            <mat-option *ngFor="let nummer of semesternummer" [disabled]="isSemesterNummerUsed(nummer)"
                                [value]="nummer">
                                {{nummer}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Semesterbeginn</mat-label>
                        <!-- TODO: matDatepicker in deutscher Zeit anzeigen -->
                        <input matInput [matDatepicker]="picker" formControlName="start">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Semesterende</mat-label>
                        <!-- TODO: matDatepicker in deutscher Zeit anzeigen -->
                        <input matInput [matDatepicker]="picker2" formControlName="ende">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <button id="removeSemester" (click)='removeInput(this.i)'>x</button>
                </div>
            </ng-contaner>
            <!---->
        </div>
    </form>
    <div (click)='addSemester()'>
        <p id="addSemester">+</p>
    </div>
    <div class="formular-buttons">
        <img src="../../../assets/img/next-icon-dhbw.jpg"><button (click)="submitSemester.ngSubmit.emit()">
            <h3>Speichern</h3>
        </button>
    </div>
</div>
<!--Ende formWrapper-->