<adminheader></adminheader>
<div class="title">
    <h1>Neues Semester anlegen</h1>
</div>
<div class="formWrapper">
    <form [formGroup]="formSemester" (ngSubmit)="onSubmit(formSemester.value)" #submitSemester="ngForm">
        <div formArrayName="semesterData"
            *ngFor="let item of formSemester['controls'].semesterData['controls']; let i= index">
            <!---->
            <ng-contaner [formGroupName]="i">
                <div class="formdataSemester">
                    <mat-form-field> 
                        <mat-label class="wählen">Studienjahrgang wählen</mat-label>
                            <mat-select formControlName="Studienjahrgang"> 
                                <mat-option *ngFor="let studienjahrgang of studienjahrgang" [value]="studienjahrgang.jahr"> 
                                    {{studienjahrgang.jahr}}
                                </mat-option>
                            </mat-select>
                    </mat-form-field>  
                    <mat-form-field>
                        <mat-label>Nummer</mat-label>
                        <mat-select formControlName="Semesternummer">
                            <mat-option *ngFor="let semester of semesternummer" [value]="semester.nummer">
                                {{semester.nummer}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Semesterbeginn</mat-label>
                        <!-- TODO Esra?: matDatepicker in deutscher Zeit anzeigen -->
                        <input matInput [matDatepicker]="picker" formControlName="Semesterbeginn">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Semesterende</mat-label>
                        <!-- TODO Esra?: matDatepicker in deutscher Zeit anzeigen -->
                        <input matInput [matDatepicker]="picker2" formControlName="Semesterende">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>

                    <button id="removeSemester" (click)='removeInput(this.i)'>x</button>
                </div>
            </ng-contaner>
            <!---->
        </div>
    </form>
    <div (click)='addInput()'>
        <p id="addSemester">+</p>
    </div>
    <div class="formular-buttons">
        <img src="../../../assets/img/next-icon-dhbw.jpg"><button (click)="submitSemester.ngSubmit.emit()">
            <h3>Semester anlegen</h3>
        </button>
    </div>
</div>
<!--Ende formWrapper-->