.formWrapper {
    padding-left: 40px;
}
#addSemester{
    color: #ccc;
    font-weight: bold;
    font-size: 30px;
    cursor
    : pointer;
}
#removeSemester{
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    padding: 0;
    color: #ccc;
    font-weight: normal;
    font-size: 20px;
    cursor: pointer;
}
#removeSemester:hover {
    text-decoration: none;
}
.formdataSemester mat-form-field{
    margin-right: 40px;
}