<adminheader></adminheader>
<div class="title">
    <h1>Kursübersicht</h1>
</div>

<div fxShow fxHide.xs="true" class="kursliste">
    <tr>
        <th>Kursname</th>
        <th class="kursSGL">Studiengangsleiter</th>
    </tr>
    <div *ngFor="let kurs of kurse">
        <tr>
            <td>{{kurs.name}}</td>
            <td class="kursSGL">{{kurs.studiengangsleiter}}</td>
        </tr>
    </div>
</div>
<div fxShow fxHide.xl="true" fxHide.lg="true" fxHide.md="true" fxHide.sm="true" class="kurslisteMobile">
    <tr>
        <th>Kursname</th>
        <th class="kursSGL">Studiengangsleiter</th>
    </tr>
    <div *ngFor="let kurs of kurse">
        <tr>
            <td>{{kurs.name}}</td>
            <td class="kursSGL">{{kurs.studiengangsleiter}}</td>
        </tr>
    </div>
</div>