<div>
    <a routerLink="/willkommen" routerLinkActive="active">
        <img src="../../assets/img/dh-logo.png" id="header-logo">
    </a>
</div>

<div class="background-image">
    <div class="wrapper-buttons">
        <div class="main-box-button">
            <div>
                <a routerLink="/nfctag" routerLinkActive="active"> <img src="../../assets/img/nfctag.png" id="nfc-logo">
                </a>
                <h3> Bitte NFC-Tag dagegen halten</h3>
            </div>
        </div>
    </div>
</div>