<adminheader></adminheader>
<div class="title">
    <h1>Neuen Kurs anlegen</h1>
</div>
<div class="formWrapper">
    <form [formGroup]="formKurs" (ngSubmit)="onSubmit(formKurs.value)" #submitKurs="ngForm">
        <div formArrayName="kursData"
            *ngFor="let item of formKurs['controls'].kursData['controls']; let i= index">
            <!---->
            <ng-contaner [formGroupName]="i">
                <div class="formdataVorlesungen">
                    <mat-form-field appearance="legacy">
                        <mat-label>Kursname</mat-label>
                        <input matInput formControlName="Kursname" placeholder="Kursname">
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Jahr</mat-label>
                        <input matInput formControlName="Jahr" placeholder="Jahr">
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Studiengangsleiter</mat-label>
                        <input matInput formControlName="Studiengangsleiter" placeholder="Studiengangsleiter">
                    </mat-form-field>
                    <button id="removeVorlesung" (click)='removeInput(this.i)'>x</button>
                </div>
            </ng-contaner>
            <!---->
        </div>
    </form>
    <div (click)='addInput()'>
        <p id="addKurs">+</p>
    </div>
    <div class="buttons">
        <img src="../../../assets/img/next-icon-dhbw.jpg"><button (click)="submitKurs.ngSubmit.emit()">
            <h3>Kurse anlegen</h3>
        </button>
    </div>
</div>
<!--Ende formWrapper-->