<adminheader></adminheader>
<div>
     
<h2>Neuen Kurs anlegen</h2>

<div id="kurs"> 
    <p> Kursname: </p>
    <input type="text" class="kurs"> 
</div>

<div id="jahr"> 
    <p> Jahr: </p>
    <input type="text" class="jahr"> 
</div>

<div id="semester"> 
    <p> Semester: </p>
    <input type="text" class="semester" placeholder="Bitte wählen"> 
</div> 

<h3>Vorlesungen </h3> 

 <div id="name"> 
    <p> Name: </p>
    <input type="text" class="name"> 
 </div>
    
 <div id="stunden"> 
    <p> Anzahl in Stunden: </p>
    <input type="text" class="stunden"> 
</div> 

<div> <img id="plus" src="https://i.ya-webdesign.com/images/white-plus-png-5.png"> </div>
      
<div class="header"> 
    <img id="pfeil" src="https://cdn.pixabay.com/photo/2012/04/24/13/58/arrow-40166_960_720.png">   
    <p class="weiter"> <a routerLink="/Dozenten" routerLinkActive="active"> Weiter</a></p>
</div> 


</div>