.formWrapper {
    padding-left: 40px;
}
.formdataKurs mat-form-field{
    margin-right: 40px;
}
.formdataVorlesungen mat-form-field{
    margin-right: 40px;
}
.formdataVorlesungen {
    margin-right: 40px;
    width: 470px;
}
button {
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    padding: 0;
}
.formWrapper input {
    margin-left: 0px;
}
#addKurs {
    color: #ccc;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.deleteVl {
    float: right;
    margin-top: 15px;
    color: #ccc;
    cursor: pointer;
}

/* input {
    border-radius: 5px;
    border: 1px solid #ccc;
} */

#kurs {
    float: left;
    
}
#jahr {
    float: left;
}
#semester {
    float: left;
}

input {
    float: left;
    margin-left: 60px;
}
.kurs {
    width: 80%;
    margin-right: 50px; 
   
}
.jahr {
    width: 80%;
    margin-right: 50px; 
}

.semester {
    width: 80%;
    margin-right: 50px; 
}

#name {
    float: left;
    clear: left;
}
#stunden {
    float: left;
}
.name{
    width: 80%;
    margin-right: 50px; 
}
.stunden {
    width: 80%;
    margin-right: 50px; 
}


.weiter {
    float: left;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 18px;
}
.weiter a {
    text-decoration: none;
    color:black;
}

#pfeil {
    float: left;
    clear: left;
    height: 1.5em;
    width: 1.5em;
    margin-top: 35px;
    margin-left: 60px;
}
#müll {
    position: absolute; 
    margin-left: 2em;
    margin-top:2.4em;
}



