<adminheader></adminheader>
<div class="title">
    <h1>Neuen Kurs anlegen</h1>
</div>
<div class="formWrapper">

<form [formGroup]="formKurs" (ngSubmit)="onSubmit(formKurs.value)" #submitKurs="ngForm">
    <div class="formdataKurs">
        <mat-form-field appearance="legacy">
            <mat-label>Kursname</mat-label>
            <input matInput formControlName="Kursname" placeholder="Kursname">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Jahr</mat-label>
            <input matInput formControlName="Jahr" placeholder="Jahr">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Semester</mat-label>
            <mat-select formControlName="Semester">
                <mat-option *ngFor="let semester of semesterAuswahl" [value]="semester.value">
                    {{semester.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div> 
</form>

<h3>Vorlesungen</h3>
<!--Add dynamic rows-->
<form [formGroup]='formVorlesungen' (ngSubmit)="onSubmit(formVorlesungen.value)" #submitVorlesungen="ngForm">
        <div formArrayName="controllerArray" >
        <div *ngFor="let item of formVorlesungen['controls'].controllerArray['controls']; let i=index" [formGroupName]="i">
    <!---->
    <div class="formdataVorlesungen">
        <mat-form-field appearance="legacy">
            <mat-label>Titel der Vorlesung</mat-label>
            <input matInput placeholder="Titel der Vorlesung">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Anzahl der Stunden</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    
</div> <!--End of formArray-->
</div> <!--End of div *ngFor looping through formVorlesungen-->
</form>

<div (click)='addInput()'><p id="addKurs">+</p></div>
<button (click)="submitKurs.ngSubmit.emit()" (click)="submitVorlesungen.ngSubmit.emit()">Weiter</button>

</div> <!--Ende-->