<adminheader></adminheader>
<div> 

<h2>Neuen Kurs anlegen</h2>

<h3>Dozenten </h3> 

<div id="titel"> 
    <p> Titel: </p>
    <input type="text" class="titel"> 
</div>

<div id="vorname"> 
    <p> Vorname: </p>
    <input type="text" class="vorname"> 
</div>

<div id="nachname"> 
    <p> Nachname: </p>
    <input type="text" class="nachname"> 
</div> 

<div id="email"> 
    <p> E-Mail Adresse: </p>
    <input type="text" class="email"> 
</div> 

<div id="vorlesung"> 
    <p> Vorlesung: </p>
    <input type="text" class="vorlesung" placeholder="Bitte wählen"> 
</div> 

<div id="vorlesungco"> 
    <p> Weitere Vorlesung: </p>
    <input type="text" class="vorlesungco" placeholder="Bitte wählen"> 
</div> 

<div id="vorlesungco2"> 
    <p> Weitere Vorlesung: </p>
    <input type="text" class="vorlesungco2" placeholder="Bitte wählen"> 
</div> 

<div class="header"> 
        <img id="pfeil" src="https://cdn.pixabay.com/photo/2012/04/24/13/58/arrow-40166_960_720.png">   
        <p class="zurück"> <a routerLink="/zurück" routerLinkActive="active"> Zurück</a></p>
        <img id="pfeil2" src="https://cdn.pixabay.com/photo/2012/04/24/13/58/arrow-40166_960_720.png">   
        <p class="kursanlegen"> <a routerLink="/kursanlegen" routerLinkActive="active"> Kurs anlegen</a></p>
</div>
</div>