<adminheader></adminheader>
<div class="title">
    <h1>Dashboard</h1>
</div>

<div class="background-image"> 
    <div class="wrapper-buttons">
        <div class="main-box-button">
            <a routerLink="/Kursneuanlegen" routerLinkActive="active"> 
                <h3>Neuen Kurs anlegen</h3> 
            </a>
        </div>
        <div class="main-box-button">
            <a routerLink="/kursuebersicht" routerLinkActive="active"> 
            <h3>Zu bestehenden Kursen</h3>
            </a>
    </div>
        <div class="main-box-button">
            <a routerLink="/Semesterneuanlegen" routerLinkActive="active">
                <h3>Neues Semester anlegen</h3>
            </a>
        </div>
    </div>
</div>

        