<adminheader></adminheader>
<div class="title">
    <h1>Dashboard</h1>
</div>

<div class="background-image">
    <div class="wrapper-buttons">
        <div class="main-box-button">
            <a routerLink="/kurs-dozent-registrierung" routerLinkActive="active">
                <h3>Registrierung</h3>
            </a>
            <div class="sub-links-registrierung">
                <a routerLink="/semester-anlegen" routerLinkActive="active">
                    <h4><span class="red-next">></span>Semester</h4>
                </a>
                <a routerLink="/dozenten-anlegen" routerLinkActive="active">
                    <h4><span class="red-next">></span>Dozenten</h4>
                </a>
                <a routerLink="/kurs-anlegen" routerLinkActive="active">
                    <h4><span class="red-next">></span>Kurs</h4>
                </a>
            </div>
        </div>
        <div class="main-box-button">
            <a routerLink="/administration" routerLinkActive="active">
                <h3>Administration</h3>
            </a>
            <div class="sub-links-administration">
                <a routerLink="/vorlesung-anlegen" routerLinkActive="active">
                    <h4><span class="red-next">></span>Vorlesung anlegen</h4>
                </a>
                <a routerLink="/kursuebersicht" routerLinkActive="active">
                    <h4><span class="red-next">></span>Kursübersicht</h4>
                </a>
                <a routerLink="/semesteruebersicht" routerLinkActive="active">
                    <h4><span class="red-next">></span>Semesterübersicht</h4>
                </a>
            </div>
        </div>
    </div>
</div>