<div class="pop-up-calendar">
    <h3 id="monats-titel">
        {{ calenderDay.date | date:'MMMM' }}
        <span class="text-grey">
            {{ calenderDay.date | date:'yyyy' }}<br>
            {{ calenderDay.date | date: 'EEEE, dd.MM.y' }}
        </span>
    </h3>

    <!-- <h4 id="titel-der-vorlesung">Titel der Vorlesung</h4> -->

    <div class="vorlesungsblock">
        <h4>Vorlesung vormittags</h4>
        <p>
            <span class="text-grey">
                <div class="time-frame-box">
                    <input type="time" class="time-box" [ngModel]="calenderDay.morning.startDate | date: 'hh:mm'"
                        (ngModelChange)="handleTimeStartMorning($event)">
                    <p>-</p>
                    <input type="time" class="time-box" [ngModel]="calenderDay.morning.endDate | date: 'hh:mm'"
                        (ngModelChange)="handleTimeEndMorning($event)">
                </div>
            </span>
        </p>
        <div class="select-vorlesung">
            <mat-form-field>
                <mat-label>Vorlesung wählen</mat-label>
                <mat-select [(ngModel)]="calenderDay.morning.vorlesungsID">
                    <mat-option *ngFor="let vorlesung of currentKursObject.vorlesungen" [value]="vorlesung.id">
                        {{vorlesung.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="delete-button" mat-button (click)="deleteTerminMorning()" cdkFocusInitial>X</button>
        </div>
    </div>
    <div class="vorlesungsblock">
        <h4>Vorlesung nachmittags</h4>
        <p>
            <span class="text-grey">
                <div class="time-frame-box">
                    <input type="time" class="time-box" [ngModel]="calenderDay.afternoon.startDate | date: 'HH:mm'"
                        (ngModelChange)="handleTimeStartAfternoon($event)">
                    <p>-</p>
                    <input type="time" class="time-box" [ngModel]="calenderDay.afternoon.endDate | date: 'HH:mm'"
                        (ngModelChange)="handleTimeEndAfternoon($event)">
                </div>
            </span>
        </p>
        <div class="select-vorlesung">
            <mat-form-field>
                <mat-label>Vorlesung wählen</mat-label>
                <mat-select [(ngModel)]="calenderDay.afternoon.vorlesungsID">
                    <mat-option *ngFor="let vorlesung of currentKursObject.vorlesungen" [value]="vorlesung.id">
                        {{vorlesung.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="delete-button" mat-button (click)="deleteTerminMorning()" cdkFocusInitial>X</button>
        </div>
    </div>
    <div class="add-vorlesung">

        <button class="add-button" mat-button (click)="addVorlesung()" cdkFocusInitial>+</button>
        <button class="close" mat-button (click)="close()" cdkFocusInitial>Schließen</button>
        <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Hinzufügen</button> -->
    </div>
</div>