.pop-up-calendar {
    width: 250px;
    background-color: white;
    border-radius: 15px;
}

.pop-up-calendar h4 {
    margin-bottom: 0;
}

.pop-up-calendar p {
    display: inline;
    padding-right: 110px;
    padding-top: 0;
}

.text-grey {
    color: #ccc;
    width: 100px;
}

#monats-titel {
    margin: 0px;
    line-height: 1.5em;
    color: #df0019;
}

#titel-der-vorlesung {
    margin-top: 15px;
}

.select-vorlesung {
    height: 55px;
}
.select-vorlesung .mat-form-field {
    width: 230px;
}

.vorlesungsblock {
    margin-top: 10px;
}

.vorlesungsblock h4 {
    margin-bottom: 0px;
}

.time-frame-box {
    float: left;
    margin-top: 5px;
}

.time-box {
    width:66px;
    border: 1px solid #ccc;
    /* border: none; */
    padding: 2px;
    padding-left: 10px;
    text-align: center;
    /* background-color: #666; */
    /* border-left: none;
    border-right: none;
    border-top: none; */
    color: #666;
}

.time-frame-box input {
    display: inline-block;
}

.time-frame-box p {
    display: inline;
    color: #4B4B4B;
    padding-right: 6px;
    padding-left: 6px;
}

#Hinzufuegen {
    float: right;
    text-decoration: underline #ccc;
    padding-top: 50px;
    padding-right: 0px;
}

.add-vorlesung button {
    background-color: white;
    border: none;
    padding: 5px 15px;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    float: right;
}
.add-vorlesung .add-button {
    background-color: #df0019;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    float: right;
}
.add-vorlesung button:active {
   outline: none;
   border: none;
}