.pop-up-calendar {
    width: 250px;
    height: 330px;
    background-color: white;
    border-radius: 15px;
}

.pop-up-calendar h4 {
    margin-bottom: 0;
}

.pop-up-calendar p {
    display: inline;
    padding-right: 110px;
    padding-top: 0;
}

.text-grey {
    color: #ccc;
    width: 100px;
}

#monats-titel {
    margin: 0px;
    line-height: 1.5em;
}

#titel-der-vorlesung {
    margin-top: 15px;
}

.select-vorlesung {
    height: 55px;
}

.vorlesungsblock {
    margin-top: 10px;
}

.vorlesungsblock h4 {
    margin-bottom: 0px;
}

.time-frame-box {
    float: left;
    margin-top: 10px;
}

.time-box {
    width: 70px;
    border-radius: 8px;
}

.time-frame-box input {
    display: inline-block;
}

.time-frame-box p {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

#Hinzufuegen {
    float: right;
    text-decoration: underline #ccc;
    padding-top: 50px;
    padding-right: 0px;
}

.add-vorlesung button {
    background-color: white;
    border: none;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    margin-top: 45px;
    cursor: pointer;
    outline: none;
}
.add-vorlesung button:active {
   outline: none;
   border: none;
}