.formWrapper {
    padding-left: 40px;
}
.formdataKurs mat-form-field{
    margin-right: 40px;
}
.formdataVorlesungen mat-form-field{
    margin-right: 40px;
}
.formdataVorlesungen {
    margin-right: 40px;
    width: 470px;
}

.formWrapper input {
    margin-left: 0px;
}
#addKurs {
    color: #ccc;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
#removeVorlesung {
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    padding: 0;
    color: #ccc;
    font-weight: normal;
    font-size: 20px;
    cursor: pointer;
}
#removeVorlesung:hover {
    text-decoration: none;
}