<adminheader></adminheader>
<div class="title">
    <h1>Neue Vorlesung anlegen</h1>
</div>
<div class="formWrapper">

    <form [formGroup]="formVorlesungen" (ngSubmit)="onSubmit(formVorlesungen.value)" #submitKurs="ngForm">
        <div formArrayName="vorlesungenStunden"
            *ngFor="let item of formVorlesungen['controls'].vorlesungenStunden['controls']; let i= index">
            <!---->
            <ng-contaner [formGroupName]="i">
                <div class="formdataVorlesungen">
                    <mat-form-field appearance="legacy">
                        <mat-label>Titel der Vorlesung</mat-label>
                        <input matInput formControlName="Vorlesungstitel" placeholder="Titel der Vorlesung">
                    </mat-form-field>
                    <mat-form-field appearance="legacy">
                        <mat-label>Anzahl der Stunden</mat-label>
                        <input matInput formControlName="StundenanzahlVl">
                    </mat-form-field>
                    <button id="removeVorlesung" (click)='removeInput(this.i)'>x</button>
                </div>
            </ng-contaner>
            <!---->
        </div>
    </form>
    <div (click)='addInput()'>
        <p id="addKurs">+</p>
    </div>
    <div class="formular-buttons">
        <img src="../../../assets/img/next-icon-dhbw.jpg"><button (click)="submitKurs.ngSubmit.emit()">
            <h3>Vorlesungen anlegen</h3>
        </button>
    </div>
</div>