<head>

</head>

<body>
    <main>
        <adminheader></adminheader>
     <!-- <header></header> 
      <welcome-background> 
             <dwelcome-buttons> </dwelcome-buttons>
                <dashboard-buttons> </dashboard-buttons>  
        </welcome-background> 
       <welcome-buttons> </welcome-buttons>
         <kurs-anlegen1></kurs-anlegen1> 
        <kurs-anlegen2></kurs-anlegen2>  
        <semester-anlegen></semester-anlegen>  -->
    </main>
    <router-outlet></router-outlet>
</body>