<div class="login-wrapper">
<div class="logo">
    <img src="../../assets/img/dh-logo.png">
</div>
<div class="login-title">
    <h1>DHBW-Stuttgart - Vorlesungsplaner - Login</h1>
</div>

<div class="background-image"> 
    <div class="wrapper-login">
        <div class="login-main-box">
            <div class="login-button">
                <a routerLink="/willkommen" routerLinkActive="active">
                    <h3>Adminsicht</h3>
                </a>
            </div>
            <div class="login-button">
                <a routerLink="/dwelcome" routerLinkActive="active">
                <h3>Dozentensicht</h3>
                </a>
            </div>
            <div class="login-button-red"><h3>Login</h3></div>
        </div>
    </div>
</div>

</div>
        