<div class="login-wrapper">
    <div class="logo">
        <img src="../../assets/img/dh-logo.png">
    </div>

    <div class="login-title">

        <h1>DHBW-Stuttgart - Vorlesungsplaner - Login</h1>
    </div>
    <div class="background-image">

        <div fxFlex="40%" fxFlex.xs="90%" fxLayout="row" class="login-main-box">
            <form fxFlex="100%" fxLayout="row wrap" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input fxFlex="100" type="text" placeholder="Mail" formControlName="mail" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
                <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                    <div *ngIf="f.mail.errors.required">Mail is required</div>
                </div>
                <input fxFlex="100" type="password" placeholder="Passwort" formControlName="password"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
                <button fxFlex="100" [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>

</div>