/*Test Admin/ Dozentensicht*/
#test-view{
    max-width: 25px;
    transform: rotate(45deg);
    float: right;
    margin-left: 368px;
    opacity: 50%;
    cursor: pointer
}
.login-wrapper{
    margin: 50px;
    margin-top: 20px;
}
.login-title {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-title h1 {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #2c2c2c;
    font-size: 1.6em;
    display: table-cell;
    margin: auto;

}
.logo img {
    max-width: 150px;
}

.login-main-box {
    width:350px;
    height: 260px;
    padding: 50px 40px 50px 40px;
    border-radius: 20px;
    background: white;
    opacity: 0.85;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
.login-main-box p{
    font-size: 12px;
    margin: 0px;
    color: #df0019;
}
input {
    height: 45px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 0px 0px 0px 10px;
    margin: 5px 0 5px 0;
    font-size: 15px;
}
button{
    height: 47px;
    width: 340px;
    background-color: #df0019;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin: 5px 0 5px 0;
    font-size: 16px;
    cursor: pointer;
}
