<adminheader></adminheader>
<div class="title">
    <h1>Semesterübersicht für {{currentKurs}}</h1>
</div>
<mat-card class="error" *ngIf="!currentKurs">
    <mat-card-content>
        <p>
            Es wurde noch kein Kurs ausgewählt.<br />
            Bitte wählen Sie oben einen Kurs!
        </p>
    </mat-card-content>
</mat-card>
<div class="kursliste" *ngIf="currentKurs != null">
    <div *ngFor="let semester of kurs.semester">
        <tr>
            <td class="semesterNr">{{semester.semesterID}}. Semester</td>
            <td class="zeitraum">{{semester.start |date:'dd.MM.yyyy'}} - {{semester.ende |date:'dd.MM.yyyy'}}
            </td>

        </tr>
    </div>
</div>