.kursliste {
    margin-left: 250px;
}
th {
    width: 100px;
    text-align: left;
}
td {
    text-align: left;
} 
.zeitraum {
    width: 300px;
    padding-left: 10px;
}
.semesterNr {
    width: 80px;
    border-right: 1px solid #df0019 ;
}
.selectStudienJg{
    padding-left: 40px;
    padding-bottom: 20px;
}
