<adminheader></adminheader>
<div class="title">
    <h1>Administration</h1>
</div>

<div class="background-image">
    <div class="wrapper-buttons">
        <a routerLink="/vorlesung-anlegen" routerLinkActive="active">
            <div class="main-box-button">
                <h3>Vorlesungen anlegen</h3>
            </div>
        </a>
        <a routerLink="/kursuebersicht" routerLinkActive="active">
        <div class="main-box-button">
                <h3>Kursübersicht</h3>
        </div>
    </a>
    </div>
</div>